@import url('https://fonts.proxy.ustclug.org/css?family=Oswald:400,600');
@import url('https://fonts.proxy.ustclug.org/css?family=Noto+Serif+SC:400,600,900&subset=chinese-simplified');
@import url('https://fonts.proxy.ustclug.org/css?family=EB+Garamond:400,500,600,700,800');

:root {
  --serif-font: 'EB Garamond', 'Noto Serif SC', 'Source Han Serif SC', source-han-serif-sc, FangSong, STFangsong, KaiTi, STKaiti, serif;
  --sans-font: Oswald, 'Microsoft YaHei', STHeiti, sans-serif;
  --italic-font: STKaiti, KaiTi, '楷体', SimKai, DFKai-SB, "Georgia";
  --mono-font: consolas, Menlo, Monaco, "Georgia", "PingFang SC", monospace;
}

*,
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
label,
fieldset,
input,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 11px;
  }
}

li {
  font-size: 1.25rem;
  line-height: 2;
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

fieldset,
img {
  border: 0
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: 400
}

caption,
th {
  text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  font-size: 100%;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

q:before,
q:after {
  content: ''
}

strong {
  font-weight: 900
}

em {
  font-style: italic
}

a img {
  border: none
}

/*-----------------------------------------------------------------------------------*/
/*  BOOTSTRAP
/*-----------------------------------------------------------------------------------*/

.icon-bar {
  background: #424243;
}

.navbar-toggle {
  height: 80px;
  margin: 0px;
}


/*-----------------------------------------------------------------------------------*/
/*  2. BASE CSS
/*-----------------------------------------------------------------------------------*/

body {
  font-family: var(--serif-font);
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 1rem;
  background-color: rgba(246, 247, 249, 1);
}

nav {
  background: #fff;
  height: 80px;
  position: fixed;
  z-index: 999;
  width: inherit;
  max-width: inherit;
}

.wrap {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 0px 1px rgba(200, 200, 200, .14);
  position: relative;
  overflow: hidden;
}

main {
  padding-top: 80px;
  width: 100%;
  margin: 0 auto;
  text-align: justify;
}

main::after {
  content: '';
  clear: both;
  display: block;
}

p {
  font-size: 1.38rem;
  line-height: 3rem;
}

a {
  text-decoration: none;
  color: #424243;
}

a:hover,
a:link,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  color: #000;
}

img {
  border: 0;
  padding: 0;
  height: auto;
}

cite {
  font-style: italic;
}

acronym {
  border-bottom: 1px dotted #333;
}

/*-----------------------------------------------------------------------------------*/
/*  3. NAVIGATION
/*-----------------------------------------------------------------------------------*/

.nav-container {
  width: 80%;
  margin: 0 auto;
}

.nav-container:after {
  content: '';
  clear: both;
  display: block;
}

.page-header-logo {
  float: left;
  line-height: 80px;
  height: 80px;
  position: relative;
  z-index: 999;
}

h1.prince-log {
  font-family: var(--sans-font);
  font-weight: 600;
  height: 80px;
  line-height: 80px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
}

h1.prince-log a {
  color: #424243;
}

.log-desc {
  color: #424243;
  text-transform: uppercase;
  font-size: 0.625rem;
  letter-spacing: 2px;
  margin-top: 12px;
  display: none;
}

@media only screen and (min-width: 768px) {
  ul.main-nav-items {
    float: right;
    margin-right: 15px;
    display: none;
  }
  .main-nav-items li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
  }
  .main-nav-items li a {
    font-family: var(--sans-font);
    font-weight: 400;
    font-size: 0.85rem;
    letter-spacing: 1px;
    color: #808080;
    line-height: 80px;
    text-transform: uppercase;
    display: inline-block;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
  }
}

@media only screen and (max-width: 767px) {
  ul.main-nav-items {
    margin: 10px auto;
    width: 88%;
    background: #fefefe;
    box-shadow: 0 0 2px 2px rgba(200, 200, 200, .14);
    position: fixed;
    z-index: 1000;
    top: 60px;
  }
  .main-nav-items li a {
    font-family: var(--sans-font);
    font-weight: 400;
    font-size: 1rem;
    display: block;
    text-align: right;
    letter-spacing: 1px;
    color: #808080;
    padding: 8px 0;
    text-transform: uppercase;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
  }
}

.main-nav-items li a:hover {
  color: #000;
  text-decoration: none;
}


/*-----------------------------------------------------------------------------------*/
/*  6. POST LAYOUT
/*-----------------------------------------------------------------------------------*/

.articles {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.post-block {
  margin-bottom: 100px;
}

.post-block .post-gallery>p {
  display: none;
}

.post-block .post-gallery>p:nth-child(1) {
  display: block;
}

.post-title {
  font-weight: 900;
  margin-bottom: 25px;
  margin-top: 20px;
  text-align: center;
  font-size: 1.475rem;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.post-title a {
  color: #000;
}

.post-title a:hover {
  opacity: .80;
}

.post-info {
  font-family: var(--sans-font);
  font-weight: 400;
  font-size: 0.75rem;
  color: #797979;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .6px;
  margin-bottom: 45px;
  margin-top: 20px;
}

.post-entry {
  clear: both;
  padding-bottom: 10px;
}

.post-entry img {
  max-width: 100%;
  height: auto;
}

.post-entry p {
  margin-bottom: 20px;
  animation: 3s infinite alternate slideIn;
  word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.post-entry a {
  padding: 0 2px;
  position: relative;
  /* border-bottom: 1px solid #333; */
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.post-entry a::after {
  content:'';
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  border-bottom: 1px solid #000;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.post-entry a:hover {
  background-color: #444;
  border: none;
  color: #fff;
  text-decoration: none;
}

.post-entry a:hover::after {
  content:'';
  position: absolute;
  width: 100%;
  height: 0;
  left: 0;
  right: 0;
  bottom: 3px;
  border-bottom: none;
}

a.vglnk, a.vglnk::after, a.vglnk:hover, a.vglnk:hover::after {
  text-decoration: none;
  border: none;
}

a.fancybox, a.fancybox::after, a.fancybox:hover, a.fancybox:hover::after {
  text-decoration: none;
  border: none;
}

.post-entry .fancybox {
  display: inline-block;
  border: none !important;
  padding: 0px;
}

.post-entry #more,
.post-entry .fancybox {
  text-decoration: none;
  border: none;
  width: 125%;
  margin: 0 0 0 -12.5%;
  text-align: center;
}

#more:hover,
.post-entry .fancybox:hover {
  background: transparent;
}

.post-entry a.headerlink {
  text-decoration: none;
  padding: 0px;
}

.post-entry p,
.post-entry h1,
.post-entry h2,
.post-entry h3,
.post-entry h4,
.post-entry h5,
.post-entry h6,
.post-entry hr {
  margin-bottom: 20px;
}

.post-entry h1,
.post-entry h2,
.post-entry h3,
.post-entry h4,
.post-entry h5,
.post-entry h6 {
  color: #000;
}

.post-entry h1 {
  font-size: 1.625rem
}

.post-entry h2 {
  font-size: 1.5rem;
  margin-top: 4rem;
}

.post-entry h3 {
  font-size: 1.375rem
}

.post-entry h4 {
  font-size: 1.25rem
}

.post-entry h5 {
  font-size: 1rem
}

.post-entry h6 {
  font-size: 0.9375rem
}

.post-entry hr {
  border: 0;
  height: 0;
  border-bottom: 1px solid #e5e5e5;
  clear: both;
}

.post-entry blockquote {
  margin-bottom: 20px;
}

.post-entry blockquote p {
  font-size: 1.25rem;
  font-family: var(--italic-font);
  font-weight: 400;
  color: #999;
  padding: 0 28px;
  line-height: 2;
  margin: 0px;
  font-style: italic;
}

.post-entry blockquote footer {
  padding: 0 18px;
  text-align: right;
}

.post-entry blockquote footer cite {
  font-style: italic;
}

.post-entry blockquote footer cite::before {
  content: "—";
  padding: 0px 0.5em;
}

.post-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.post-entry .pullquote.left {
  margin-left: 8px;
  margin-right: 16px;
}

.post-entry .pullquote.right {
  margin-right: 8px;
  margin-left: 16px;
}

.post-entry dl,
.post-entry ul,
.post-entry ol {
  padding-left: 45px;
  margin-bottom: 20px;
}

.post-entry ul li {
  margin-bottom: 8px;
  list-style: square;
}

.post-entry ol li {
  margin-bottom: 8px;
  list-style: decimal;
}

.post-entry dt {
  margin-bottom: 4px;
}

.post-entry dd {
  margin-bottom: 8px;
}

.sticky.post .post-header {
  border: 1px dashed #ddd;
  padding: 20px 0;
}

.post-entry table {
  width: 100%;
  margin-bottom: 22px;
  border-collapse: collapse;
}

.post-entry td {
  padding: 2px;
  border-bottom: 1px solid #ddd;
}

::selection {
  background: #262a30;
  color: #fff;
}

.post-entry th {
  padding: 6px 0;
  font-size: 0.875rem;
  border-bottom: 2px solid #ddd;
}

.post-entry pre {
  margin-bottom: 30px;
  background: #fafafa;
}

.post-entry pre,
.post-entry code {
  font-family: var(--mono-font);
  font-size: 1.15rem;
  white-space: pre;
  border: 0px;
  border-radius: 0px;
}

.post-entry code {
  margin: 8px 4px;
}

.post-entry p code {
  padding: 4px 6px;
  margin: 0px;
  color: #383a42;
  background-color: #fafafa;
}

table.hljs-ln {
  width: 100%;
  margin-bottom: 0;
  border-collapse: collapse;
}

table.hljs-ln td.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: #ccc;
  border-right: 1px solid #CCC;
  border-bottom: none;
  vertical-align: top;
  padding-right: 5px;
  width: 20px;
  min-width: 20px;

}

table.hljs-ln td.hljs-ln-code {
  padding-left: 12px;
  border: none;
}

.gutter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gutter pre {
  padding-left: 10px;
  color: #869194;
  text-align: center;
  background-color: #eff2f3;
}

.post-entry .gist .gist-file {
  margin-bottom: 0px;
  border: none;
}

.post-entry .gist .gist-file .gist-meta {
  position: relative;
  bottom: 0px;
}

.post-entry input {
  padding: 3px 8px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.post-entry input[type="submit"] {
  cursor: pointer;
  background-color: #111;
  color: #fff;
  border-color: #111;
  letter-spacing: 0.75px;
}

.post-entry input[type="submit"]:hover {
  opacity: 0.8;
}

.post-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;
}

.video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.post-entry iframe {
  border: none;
  margin-bottom: 20px;
}

.post-meta {
  display: block;
  margin-top: 15px;
  height: 32px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

a.article-more {
  font-family: var(--sans-font);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 35px;
  padding-left: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #797979;
  transition: .3s;
}

a.article-more:hover {
  color: #000;
}

.post-tags-box {
  height: 32px;
  text-align: center;
  display: inline-block;
  float: right;
}

.post-tags-box::before {
  font-family: FontAwesome;
  content: "\f02c";
  margin-right: 9px;
  color: #000;
  font-size: 0.75rem;
}

.post-tags-box {
  transition: .3s;
  color: #797979;
  font-size: 0.75rem;
}

.post-tags-box a {
  font-family: var(--sans-font);
  font-weight: 400;
  color: #797979;
  line-height: 32px;
  text-transform: uppercase;
}

.post-tags-box a:hover {
  color: #000;
}


/*-----------------------------------------------------------------------------------*/
/*  GALLERY
/*-----------------------------------------------------------------------------------*/

.post-gallery-page p {
  display: inline-block;
}


/*-----------------------------------------------------------------------------------*/
/*  POST
/*-----------------------------------------------------------------------------------*/

.post {
  width: 80%;
  margin: 0 auto;
}

/*-----------------------------------------------------------------------------------*/
/*  ARCHIVE
/*-----------------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) {
  .archive {
    padding: 20px 30px 40px;
  }
}


/*-----------------------------------------------------------------------------------*/
/*  ASIDE
/*-----------------------------------------------------------------------------------*/

aside.sidebar {
  padding-left: 15px;
  padding-right: 5px;
  box-sizing: border-box;
}


/*-----------------------------------------------------------------------------------*/
/*  ARCHIVE-POST
/*-----------------------------------------------------------------------------------*/

.post-item>a {
  display: block;
}

.post-item>a:after {
  content: '';
  display: block;
  clear: both;
}

.post-item>a span {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  font-size: 0.875rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post-item a .post-title {
  text-align: left;
  margin: 0px;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .post-item:after {
    content: '';
    display: block;
    clear: both;
  }
  .post-item {
    margin: 8px 0;
  }
  .post-item a .post-title {
    height: 18px;
    line-height: 18px;
    padding-left: 0px;
  }
  .post-item a .post-date {
    text-align: right;
    height: 18px;
    line-height: 18px;
    font-size: 0.75rem;
    color: #808080;
  }
}

.post-item a:hover .post-title,
.post-item a:hover .post-date {
  opacity: .60;
}

.postList-tags-box::before {
  font-family: FontAwesome;
  content: "\f02c";
  margin-right: 9px;
  color: #000;
  font-size: 0.75rem;
}

.postList-tags-box {
  transition: .3s;
  color: #797979;
  margin-bottom: 10px;
}

.postList-tags-box a {
  font-family: var(--sans-font);
  font-weight: 400;
  font-size: 0.75rem;
  color: #797979;
  line-height: 32px;
  text-transform: uppercase;
}

.postList-tags-box li a:hover {
  color: #000;
}


/*-----------------------------------------------------------------------------------*/
/*  ARCHIVE-ASIDE-WIDGET
/*-----------------------------------------------------------------------------------*/

.widget {
  font-family: var(--sans-font);
  font-weight: 400;
  padding: 0 30px 40px;
  color: #3f3f3f;
}

h3.aside-title {
  font-family: var(--sans-font);
  font-weight: 400;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #262626;
  text-transform: uppercase;
  border-bottom: 1px dotted #dcdcdc;
  font-size: 1.25rem;
  margin-bottom: 0;
  text-align: center;
  font-family: inherit;
  line-height: 1.1;
}

.about-me-image {
  margin-top: 20px;
  padding-top: 62.5%;
  background-image: url('/media/aboutme.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.about-me-text {
  padding: 15px 0 0;
  font-size: 0.875rem;
  line-height: 22px;
  margin-bottom: 0;
  text-align: center;
}

.all-tags-box {
  padding-top: 20px;
  text-align: left;
}

.all-tags-box a {
  font-family: var(--sans-font);
  font-weight: 400;
  font-size: 0.75rem !important;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #f2f2f2;
  color: #666;
  padding: 6px 7px 6px;
  margin-right: 5px;
  margin-bottom: 8px;
  display: inline-block;
  border-radius: 2px;
}

.all-tags-box a:hover {
  background: #333;
  color: #fff;
  text-decoration: none;
}

.follow-icons {
  text-align: center;
  padding-top: 10px;
}

.follow-icons>a:hover {
  opacity: 0.8;
}

.github-link::after {
  font-family: FontAwesome;
  content: "\f09b";
  margin: 10px;
  color: #000;
  font-size: 1.125rem;
}

.twitter-link::after {
  font-family: FontAwesome;
  content: "\f099";
  margin: 10px;
  color: #000;
  font-size: 1.125rem;
}

.weibo-link::after {
  font-family: FontAwesome;
  content: "\f18a";
  margin: 10px;
  color: #000;
  font-size: 1.125rem;
}


/*-----------------------------------------------------------------------------------*/
/*  PAGINATION (PAGE/POST)
/*-----------------------------------------------------------------------------------*/

.paginator,
.post-nav {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  overflow: hidden;
}

.paginator a,
.post-nav a {
  font-family: var(--sans-font);
  font-weight: 400;
  color: #656565;
  text-transform: uppercase;
  font-size: 0.875rem;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.paginator a:hover,
.post-nav a:hover {
  text-decoration: none;
  color: #000;
}

.prev-wrap,
.next-wrap {
  display: flex;
  align-items: center;
}

.prev-wrap {
  float: left;
  justify-content: flex-start;
}

.next-wrap {
  float: right;
  justify-content: flex-end;
}

.prev-page,
.prev-post {
  text-align: left;
  padding-left: 4px;
}

.next-page,
.next-post {
  text-align: right;
  padding-right: 4px;
}

.disqus-comments {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
  overflow: hidden;
}

#toc {
  position: fixed;
  left: 50%;
  top: 20%;
  margin-left: 480px;
  border: 0px solid #dddddd;
  /* opacity: 0; */
  /* -o-transition: .4s;
  -ms-transition: .4s;
  -moz-transition: .4s;
  -webkit-transition: .4s; */
}

/* #toc:hover {
  position: fixed;
  left: 50%;
  top: 20%;
  margin-left: 480px;
  border: 0px solid #dddddd;
  opacity: 1;
  -o-transition: .4s;
  -ms-transition: .4s;
  -moz-transition: .4s;
  -webkit-transition: .4s;
} */

#toc a {
  /* display: block; */
  color: #cccccc;
}

#toc a:hover {
  /* padding: 0; */
  color: var(--main-color,#666666);
}

#toc .active a {
  color: var(--main-color,#666666);
}

#toc ul {
  margin-left: 1em;
}

#toc li {
  /* display: block; */
}


/*--------------------------------------------------------------------------------*/
/*   ABOUT
/*--------------------------------------------------------------------------------*/

.post-about {
  text-align: center;
  margin-top: 50px;
  font-size: 1.125rem;
}


/*--------------------------------------------------------------*/
/*   FOOTER COPYRIGHT
/*--------------------------------------------------------------*/

.copyright {
  font-family: var(--sans-font);
  font-weight: 400;
  padding: 35px 0;
  background: rgba(246, 247, 249, 1);
  overflow: hidden;
  clear: both;
  text-align: center;
}

.copyright p {
  font-family: var(--sans-font);
  font-weight: 400;
  font-size: 0.75rem;
  color: #6b6b6b;
}

.copyright p a {
  color: #000;
}
